@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(font-awesome.min.css);

body {
  padding: 50px;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color:#555555;
  font-weight: 400;
}

.grv-img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #400A0F;
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  color: #393939;
}

h3,
h4,
h5,
h6 {
  color: #494949;
  font-weight: bold;
}

a {
  /*color: #CD3829;*/

  color: #B61712;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #113D58;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.6em;
  display: block;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

table.highlighttable {
  margin: 0px 0;
}

td.linenos {
  width: 5%;
  padding: 0px 0px;
  text-align: right;
  border-bottom: 0px;
}

td.code {
  width: 100%;
  padding: 0px 0px;
  overflow: auto;
  border-bottom: 0px;
  word-break: break-all;
}

img {
  max-width: 100%;
}

header {
  font-family: "Open Sans Condensed", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
  width: 270px;
  float: left;
  position: fixed;
}

header .active span{
  border-bottom: thick solid #E8E6E3;
}


header li,
header ul {
  list-style: none;
  text-align: left;
  padding: 0px, 0px, 0px, 0px;
  padding-left: 0;
}


ul .sublink {
  list-style: none;
  text-align: left;
  padding: 0px, 0px, 0px, 0px;
  padding-left: 20px;
  font-size: 28px;
}


strong {
  color: #222;
  font-weight: 700;
}

header .title {
  font-size: 42px;
  padding-top: 2px;
  padding-bottom: 8px;
  font-weight: 700;
}

div[class='social'] a {
  margin-top: 40px;
  background-repeat: no-repeat;
  background-position: 3px 6px;
  padding-left: 10px;
  color: #113D58;
  text-decoration: none;
}

div[class='social'] a:hover {
  color: #B61712;
}

div[class='social'] a i {
  font-size: 48px;
}

section {
  width: 630px;
  float: right;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 10px;
}

@media print,
screen and (max-width: 1023px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }
  /*header {
    padding-right:320px;
  }
  */

  body {
    padding: 100px;
    margin-top: 100px;
  }
  header {
    position: fixed;
    float: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    background: #ffffff;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-width: 3px 0;
    padding-bottom: 10px;
  }
  header .title {
    margin-top: 10px;
  }
  div[class='social'] a {
    margin-top: 5px;
  }
  div[class='social'] a i {
    font-size: 36px;
  }
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }
  section {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    border-width: 1px 0;
    margin: 0 0 20px;
  }
  header a small {
    display: inline;
  }
  ul .sublink{
    font-size: 24px;
  }
  header ul,
  header li,
  ul .sublink{
    /* make list elements fall inline as block elements */

    position: relative;
    display: inline-block;
    text-align: center;
    padding-left: 15px;
  }
  header li {
    padding-left: 15px;
  }
  header li:before {
    content: " \2022 ";
    padding-right: 15px;
  }
  header li:first-child:before {
    content: none;
  }
  header li:nth-child(2):before {
    content: none;
  }
}

@media print,
screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
  }
  header,
  ul .sublink{
    font-size: 18px;
    line-height: 24px;
  }
  header ul,
  ul .sublink {
    padding: 0px;
    margin-bottom: 5px;
  }
  div[class='social'] a {
    margin-top: 0px;
    line-height: 24px;
  }
  div[class='social'] a i {
    font-size: 28px;
  }
  pre,
  code {
    word-wrap: normal;
  }
}

@media print,
screen and (max-width: 480px) {
  body {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 130px;
  }
  header ul {
    padding-bottom: 10px;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}

.front-title {
  /*color: #39c;*/
  font-weight: 400;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.read-more {
  padding-bottom: 10px;
  font-size: 14px;
}

.sub-title {
  font-size: 14px;
}

.article-title,
.entry-title {
  text-transform: capitalize;
  font-size: 32px;
  letter-spacing: .2rem;
  font-weight: 300;
}

.paginator {
  float: right;
  font-size: 14px;
}
/*
  jQuery navigation arrow
  [Adding jQuery navigation arrow](http://mygeekdaddy.net/2015/01/28/adding-jquery-navigation-arrow/)
*/

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */

  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%; */

  background: #123D57 url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */

  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */

  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #f09c05;
  opacity: 1;
}
