{% extends "base.html" %}

{% block title %}{{ SITENAME }} &middot; Archives{% endblock %}
{% block content %}
<section id="content" class="body">
{%- if dates %}
    <h1>Archives</h1>
    {% for article in dates %}
    {% set cmonth = article.date.date().replace(day=1) %}
    {% if loop.index > 1 %}
      {% set month = dates[loop.index0 - 1].date.date().replace(day=1) %}
    {% else %}
      {% set month = cmonth %}
    {% endif %}

    {% if loop.index == 1 %}
    <h4 class="date">{{ article.date.strftime("%b %Y") }} </h4>
    <div class="post archives">
        <ul>
    {% endif %}
    {% if cmonth < month %}
        </ul>
        <br />
    </div>

    <h4 class="date">{{ article.date.strftime("%b %Y") }}</h4>
    <div class="post archives">
        <ul>
    {% endif %}

            <li>{{ article.date.strftime("%d") }}: <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title | truncate(70) }}</a></li>

    {% endfor %}

        </ul>
        <br />
    </div>
{% else %}

    <div class="post text pinned">
        <h2>No Posts</h2>
        <p>There aren't any posts in the timeframe specified.</p>
    </div>
{% endif %}
</section>
{% endblock %}
