{% if DISPLAY_PAGES_ON_MENU -%}
<p>
  {% for page in PAGES %}
    <div class="view"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></div>
  {% endfor %}
  <!-- <div class="view"><a href="{{ SITEURL }}/blog/index.html">Blog</a></div>
  <div class="view">
  <ul>
  	<li><a href="{{ SITEURL }}/blog/archives/archives.html">Archives</a>
  </ul>
  </div> -->
</p>
{% endif %}

<!-- Social links -->
{% if SOCIAL %}
<div class="social">

  {% for title, link in SOCIAL %}
    <a href="{{ link }}" target="_blank" title="{{ name }}">
        <i class="fa fa-{{ title }} fa-2x"></i>
    </a>
  {% endfor %}

</div>
<br>
{% endif %}
