<ul>
{% if DISPLAY_PAGES_ON_MENU -%}
  {% for p in PAGES %}
    {% if p %}
    <li {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}"><span>{{ p.title }}</span></a></li>
    {% endif %}
  {% endfor %}
{% endif %}


{% for title, link in MENUITEMS %}
  {% set stripped_link = link|replace('/', '', 1)%}
  {% if stripped_link in output_file %}
      {% set link_state = 'class="active"' %}
  {% else %}
      {% set link_state = '' %}
  {% endif %}
  <li {{link_state}}><a href="{{ link }}"><span>{{ title }}</span></a></li>
  {% if "blog" in output_file %}
    {% if "archives" in output_file %}
      {% set link_state = 'active' %}
    {% endif %}
    <li class="sublink {{link_state}}"><a href="{{ SITEURL }}/blog/archives/archives.html"><span>Archives</span></a></li>
  {% endif %}
{% endfor %}
</ul>


<!-- Social links -->
{% if SOCIAL %}
<div class="social">

  {% for title, link in SOCIAL %}
    <a href="{{ link }}" target="_blank" title="{{ name }}">
        <i class="fa fa-{{ title }}"></i>
    </a>
  {% endfor %}

</div>
{% endif %}
